<!DOCTYPE html>
<html lang="it">
{{- partial "head.html" . -}}
<body id="page-top">
{{- partial "header.html" . -}}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        {{ with site.Data.homepage.main }}
                        <h1 class="mx-auto my-0 text-uppercase">{{ .header.title }}</h1>
                        <a class="btn btn-primary" href="{{ .header.button.url }}">{{ .header.button.text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        {{ with site.Data.homepage.about }}
        <section class="about-section text-center">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">{{ .title }}</h2>
                        <p class="text-white-50">{{ .desc }}</p>
                        {{ if .button.enable }}
                        <a class="btn btn-primary about-btn" href="{{ .button.url }}">{{ .button.text }}</a>
                        {{ end }}
                    </div>
                </div>

            </div>
        </section>
        {{ end }}
        <!-- Projects-->
        {{ with site.Data.homepage.projects }}
        <section class="projects-section bg-light">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ .challenge.img }}" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>{{ .challenge.title }}</h4>
                            <p class="text-black-50 mb-0">{{ .challenge.text }}</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{{ .mentor.img }}" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-wy text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">{{ .mentor.title }}</h4>
                                    <p class="mb-0 text-white-50">{{ .mentor.text }}</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{{ .project.img }}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-wy text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">{{ .project.title }}</h4>
                                    <p class="mb-0 text-white-50">{{ .project.text }}</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ end }}
        <!-- Contact-->
        <section class="contact-section bg-wy" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100" id="cardmagenta">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-magenta-wy mb-2"></i>
                                <h4 class="text-uppercase m-0">Indirizzo</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">{{ site.Params.address }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100" id="cardyellow">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-yellow-wy mb-2"></i>
                                <h4 class="text-uppercase m-0">Email Amministrazione</h4>
                                <hr class="my-2 mx-auto" />
                                <div class="small text-black-50"><a href="#!">{{ site.Params.emailamministrazione }}</a></div>
                                <div class="my-4"></div>
                                <h4 class="text-uppercase m-0">Email Info</h4>
                                <hr class="my-2 mx-auto" />
                                <div class="small text-black-50"><a href="#!">{{ site.Params.emailinfo }}</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100" id="cardgreen">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-green-wy mb-2"></i>
                                <h4 class="text-uppercase m-0">Recapito Relazioni Esterne</h4>
                                <div class="my-2"></div>
                                <h4 class="text-uppercase m-0">Giuseppe Spina</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">{{ site.Params.phonepeppe }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="{{ site.Params.instagram }}"><i class="fa-brands fa-instagram"></i></a>
                    <a class="mx-2" href="{{ site.Params.linkedin }}"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </section>
        <div class="bg-wy" id="divisoreFooter"></div>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; {{ .Name }} {{ now.Format "2006"}}</div></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>